<configuration>
  <system.webServer>
    <handlers>
      <!-- Indica que todos los archivos .js deben ser manejados por iisnode -->
      <add name="iisnode" path="server.js" verb="*" modules="iisnode" />
    </handlers>
    
    <rewrite>
      <rules>
        <!-- Regla para redirigir todas las peticiones a server.js -->
        <rule name="NodeInspector" patternSyntax="ECMAScript" stopProcessing="true">
          <match url="^server.js\/debug[\/]?" />
        </rule>
        
        <rule name="StaticContent">
          <action type="Rewrite" url="public{REQUEST_URI}" />
        </rule>
        
        <rule name="DynamicContent">
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="True" />
          </conditions>
          <action type="Rewrite" url="server.js" />
        </rule>
      </rules>
    </rewrite>
    
    <!-- Desactiva la caché de scripts para cambios en desarrollo -->
    <caching enabled="false" enableKernelCache="false" />

    <!-- Opcional: Para logging de iisnode -->
    <iisnode loggingEnabled="true" devErrorsEnabled="true" />
    
  </system.webServer>
</configuration>
